{% extends "base.html" %}
{% block content %}

<div class="card rounded-3 border-0 shadow p-4">
    <h6 class="text-primary-color mb-3 mt-3 fw-semibold">
        Reset Your Password
    </h6>

    <form method="post">
        {{ form.hidden_tag() }}

        <div class="row mb-3">
            <div class="col">
                <label>{{ form.phone.label }}</label>
                {{ form.phone(class="form-control") }}

                <label>{{ form.new_password.label }}</label>
                {{ form.new_password(class="form-control") }}

                <label>{{ form.confirm_password.label }}</label>
                {{ form.confirm_password(class="form-control") }}

            </div>
        </div>

        <div class="row">
            {{ form.submit(class="btn btn-app fw-bold") }}
        </div>
    </form>
</div>

{% endblock %}
