{% extends "base.html" %}
{% block content %}

<div class="card rounded-3 border-0 shadow p-4">
  <h6 class="section-header mb-3 mt-2">Set Gold & Silver Rates</h6>

  <form method="post">
    {{ form.hidden_tag() }}

    <div class="mb-3">
      <label>{{ form.gold_price.label }}</label>
      {{ form.gold_price(class="form-control", value=rate.gold_price) }}
      {% for error in form.gold_price.errors %}
        <div class="text-danger">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="mb-3">
      <label>{{ form.silver_price.label }}</label>
      {{ form.silver_price(class="form-control", value=rate.silver_price) }}
      {% for error in form.silver_price.errors %}
        <div class="text-danger">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="mt-3">
      {{ form.submit(class="btn btn-app fw-bold") }}
    </div>
  </form>

  <p class="mt-3 text-muted">
    Last updated: {{ rate.updated_at.strftime("%Y-%m-%d %H:%M") }}
  </p>
</div>

{% endblock %}
